# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# virtual environments
env/
venv/
ENV/
.env/
.venv/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Editor folders and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
\r\r

# Thumbnails
._*

# Files that might appear on external volumes
.Spotlight-V100
.Trashes

# Google Drive
.gdriveignore
~$*

# Temporary files
*.swp
*~
